@model ModelViewController.Models.Users.ChangeUserRolesModel
@{
    ViewData["Title"] = "ChangeRole";
}

<h2>Changing roles for the "@Model.UserName" user</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="ChangeRole" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="UserName" />
            @if (Model.UserRoles != null)
            {
                for (int i = 0; i < Model.UserRoles.Count(); i++)
                {
                    <div class="form-group">
                        <div class="form-check">
                            <input type="hidden" asp-for="UserRoles[i].RoleId" />
                            <input asp-for="UserRoles[i].Selected" type="checkbox" />
                            <label class="form-check-label" asp-for="UserRoles[i].Name">
                                @Model.UserRoles[i].Name
                            </label>
                        </div>
                    </div>

                }
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button asp-action="Index" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>

