@model ModelViewController.DAL.Entities.Award

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAward.cshtml";
}

<h4>Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data"  class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                @if (Model.Image != null)
                {
                    <input asp-for="Image" type="hidden" />
                    <img style='width:300px; height:auto;' src="@Model.Image" alt="Image" /><br />
                }
                <input type="file" name="image" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button asp-action="Index" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>

